<form action="/shops" method="post">
    <h2>Use one of the methods below</h2>
    <label for="shops">Choose a shop:</label>
    <select name="shops" id="shop">
        <option value="Fruit & Veg City">Fruit and Veg City</option>
        <option value="Tsjekkers">Tsjekkers</option>
        <option value="Shopryte">Shoprite</option>
        <option value="Pick n Play">Pick 'n Pay</option>
        <option value="Fruit lovers">Fruit lovers</option>
    </select>
    <input type="number" placeholder="Enter an amount you are willing to spend"/>
    <button><a href="/home">Back</a></button>
</form>