<form action="/choose" method="post">
    <label for="price">Enter price:</label>
    <input type="number">
    <label for="qty">Enter quantity</label>
    <input type="number">
    <button><a href="/shops">Back</a></button>
</form>

